<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="container">
  <div class="table-responsive">
   <div align="center">
    <script>
    var data;
 
 function handleFileSelect(evt) {
   var file = evt.target.files[0];

   Papa.parse(file, {
     header: true,
     dynamicTyping: true,
     complete: function(results) {
       data = results;
     }
   });
 }

 $(document).ready(function(){
   $("#csv-file").change(handleFileSelect);
 });  
    </script>
    <input type="file" id="csv-file" name="files"/>
   </div>
   <br />
   <div id="employee_table">
   </div>
  </div>
 </div>

