<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="container">
  <div class="table-responsive">
   <div align="center">
<!--  https://codepen.io/anon/pen/eLaaXG using example from https://portalzine.de/dev/html5/importing-csv-files-with-html5-and-papa-parse/ 
        WORKS-->
<!--  https://codepen.io/anon/pen/EezzJE using example from https://www.joyofdata.de/blog/parsing-local-csv-file-with-javascript-papa-parse/
        WORKS IF you add "console.log(data)" in the complete section of Papa.parse
      Working on this example to make "parse" button do it's thing-->
<!-- use example here: https://vaadin.com/blog/wcw-15-csv-parsing and here: https://vaadin.com/blog/using-vaadin-grid-with-csv
        to adapt a method to display the rows-->
<!-- https://codepen.io/anon/pen/bmpEGK 
      10/3: currently does a lot, but assigns a header when there is not one
      10/4: removed "header from papaparse options and it works
          https://codepen.io/anon/pen/ReRpxZ 
          need to break up front end and backend code
          Can we assign types to columns as part of the the config in the 
            more detailed section for selecting options?
      10/9: like this option too https://codepen.io/anon/pen/JmWygV?editors=1011    
          -->
      <script>
           document.getElementById('txtFileUpload').addEventListener('change', upload, false);

function upload(evt) {

   var data = null;
   var file = evt.target.files[0];
   var reader = new FileReader();
   reader.readAsText(file);
   reader.onload = function(event) {
       var csvData = event.target.result;
       var data = Papa.parse(csvData);

       console.log(data.data);

       var arrayLength = data.data.length;
       console.log(arrayLength);
       for (var i = 0; i < arrayLength; i++) {
           console.log(data.data[i]);
           $("#header").append("<li>" + JSON.stringify(data.data[i]) + "</li>");
       }

   };
   reader.onerror = function() {
       alert('Unable to read ' + file.fileName);
   };  

}
        
        </script>
        
          <input type="file" name="File Upload" id="txtFileUpload" accept=".csv" />

          <div id="header"></div>
<!-- Add a file_loaded boolean so that once the file has been chosen and 
loaded a box with options and the parse button will appear -->

<!-- Insert a box with all the parsing options we would like to add,
or just have a "display all" option -->
  <!-- ticking off certain options in this box will affect global variables
  that can be applied to Papapares' parsing options and to csv_manager's -->
  
  <!-- 
  
  <button id="submit" ng-click="csv_manager.loadCSVFile(csv-file)">Parse</button>


  -->

   </div>
  </div>
 </div>

